* {
    box-sizing: border-box;
}

/* body */
body {
    background-color: #f6f8f9;

}


/* navbar */
nav {
    margin-bottom: .5em;
}

#logo {
    display: inline-block;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0%;

    font-size: xx-large;
}

/* Fix needed: change font h1, vertically center h1 with img, 
fix margin.*/
/* end navbar */




/* main section */
main {
    width: 80%;
    height: auto;
    margin: auto;

    padding-top: 5em;
    padding-right: 10em;
    padding-bottom: 5em;
    padding-left: 10em;

    border-right: 10em;
    border-radius: 1em;

    background-color: #ffffff;
}

/* end main section */




/* input section */
.input-section {
    padding-bottom: 2.5em;
}

.button-position {
    display: inline-block;

    color: white;
}

#button-color-on {
    width: auto;
    height: 2em;

    border-radius: 5px;
    border-color: transparent;

    background-color: #46adf1;
    color: white;
}

#button-color-off {
    width: auto;
    height: 2em;

    border-radius: 5px;
    border-color: lightgrey;
    border-style: solid;


    background-color: white;
    color: lightgrey;
}

/* end input section */




/* New Task collapse section*/
.collapse-arrow {
    display: inline-block;
    font-size: xx-small;

    color: #444851;

}

.task-section-title {
    display: inline-block;
    font-size: x-large;

    color: #444851;
}

ul {
    padding: 0;
}

li {
    list-style: none;

    color: #444851;
}

.task-copleted-mark {
    width: 20px;
    height: 20px;
    display: inline-block;

    font-size: smaller;
    text-align: center;

    border-radius: 50%;
    border-style: solid;

    background-color: #64c0a9;
    color: #f6f8f9;
}

.list-content {
    display: inline-block;
    font-size: medium;

    font-weight: bolder;

    color: #444851;
}

.editorial-label {
    width: auto;
    height: 2em;

    font-size: xx-small;

    display: inline-block;
    border-radius: .7em;
    border-style: solid;

    border-color: transparent;
    background-color: #46adf1;
    color: white;
}

/* end New Task collapse section */