* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* body */
body {
    margin: 2em;

    background-color: #f6f8f9;
}


/* navbar */
nav {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 2em;
    margin-left: 0;

    border-radius: 1em;
    background-color: #ffffff;
}

#logo {
    margin: 1em;
    display: inline-block;

    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;

    font-size: xx-large;
}

/* end navbar */




/* main section */
main {
    width: 60%;
    height: auto;
    margin: auto;

    padding-top: 5em;
    padding-right: 10em;
    padding-bottom: 5em;
    padding-left: 10em;

    border-right: 10em;
    border-radius: 1em;

    background-color: #ffffff;
}

/* end main section */




/* main collapse section */
.main-collapse-section {
    margin-top: -3em;
    margin-left: -8em;

}

/* SO CHE NON SI USANO I VAORI NEGATIVI MA NON MO SI MUOVEVA */
/* end main collapse section */




/* input section */
.input-section {
    margin-top: 0;
    margin-bottom: 0;

    padding-bottom: 0em;
}

.button-position {
    display: inline-block;

    color: white;
}

#button-color-on {
    width: auto;
    height: 2em;

    border-radius: 5px;
    border-color: transparent;

    background-color: #46adf1;
    color: white;
}

#button-color-off {
    width: auto;
    height: 2em;

    border-radius: 5px;
    border-color: lightgrey;
    border-style: solid;


    background-color: white;
    color: lightgrey;
}

/* end input section */




/* New Task collapse section*/
section {
    margin-top: 3em;
}

.collapse-arrow {
    display: inline-block;
    font-size: xx-small;

    color: #444851;

}

.task-section-title {
    display: inline-block;
    font-size: x-large;

    color: #444851;
}

ul {
    padding: 0;
}

li {
    list-style: none;

    color: #444851;
}

.task-copleted-mark {
    width: 20px;
    height: 20px;
    display: inline-block;

    font-size: smaller;
    text-align: center;

    border-radius: 50%;
    border-style: solid;

    background-color: #64c0a9;
    color: #f6f8f9;
}

.list-content {
    display: inline-block;
    font-size: smaller;

    font-weight: bolder;

    color: #444851;
}

.editorial-label {
    width: auto;
    height: 2em;

    font-size: xx-small;

    display: inline-block;
    border-radius: .7em;
    border-style: solid;

    border-color: transparent;
    background-color: #46adf1;
    color: white;
}

/* end New Task collapse section */




/* Today collapse section */
.task-uncompleted-mark {
    width: 20px;
    height: 20px;
    display: inline-block;

    font-size: smaller;
    text-align: center;

    border-radius: 50%;
    border-style: solid;

    background-color: #ec5044;
    color: #f6f8f9;
}

.q1-goals-label {
    width: auto;
    height: 2em;

    font-size: xx-small;

    display: inline-block;
    border-radius: .7em;
    border-style: solid;

    border-color: transparent;
    background-color: #9c72e4;
    color: white;
}

.recruiting-label {
    width: auto;
    height: 2em;

    font-size: xx-small;

    display: inline-block;
    border-radius: .7em;
    border-style: solid;

    border-color: transparent;
    background-color: #64c0a9;
    color: white;
}

.mobile-label {
    width: auto;
    height: 2em;

    font-size: xx-small;

    display: inline-block;
    border-radius: .7em;
    border-style: solid;

    border-color: transparent;
    background-color: #f29e33;
    color: white;
}

/* end Today collapse section */




/* Upcoming collapse section */
.website-label {
    width: auto;
    height: 2em;

    font-size: xx-small;

    display: inline-block;
    border-radius: .7em;
    border-style: solid;

    border-color: transparent;
    background-color: #d763a1;
    color: white;
}

.sales-label {
    width: auto;
    height: 2em;

    font-size: xx-small;

    display: inline-block;
    border-radius: .7em;
    border-style: solid;

    border-color: transparent;
    background-color: #b0c925;
    color: white;
}